.clearfix:before,
.clearfix:after,
.container-fluid:before,
.container-fluid:after,
.container:before,
.container:after,
.pkg-showbox:before,
.pkg-showbox:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.pkg-showbox:after {
  clear: both;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 980px;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.con {
  padding: 15px;
}
@font-face {
  font-family: 'iconfont';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.micon {
  font-family: iconfont;
  position: relative;
  top: 3px;
  font-size: 16px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

abbr[title] {
  border-bottom: 1px dotted;
}
img {
  border: none;
}
hr {
  margin-top: 21px;
  margin-bottom: 21px;
  border: 0;
  height: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
[role="button"] {
  cursor: pointer;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
label {
  margin-bottom: 5px;
  cursor: pointer;
}
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}
.txt,
.btn {
  border-radius: 4px;
  margin-bottom: 10px;
  height: 34px;
  display: block;
  border: 1px solid #ccc;
}
.txt {
  width: 98%;
  line-height: 34px;
  color: #555;
  outline: none;
  padding: 0 1%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.txt:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.txt::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.txt:-ms-input-placeholder {
  color: #999999;
}
.txt::-webkit-input-placeholder {
  color: #999999;
}
.txt[disabled],
.txt[readonly],
fieldset[disabled] .txt {
  background-color: #eeeeee;
  opacity: 1;
  cursor: not-allowed;
}
.txt[disabled],
fieldset[disabled] .txt {
  cursor: not-allowed;
}
.btn {
  font-size: 16px;
  background: #fff;
  width: auto;
  padding: 0 15px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-appearance: button;
  cursor: pointer;
}
.btn:hover {
  background: #eeeeee;
}
button,
select {
  text-transform: none;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
fieldset {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin: 0 2px;
  padding: 0.75em 0.625em;
}
fieldset legend {
  padding: 0 5px;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
  text-align: center;
  display: block;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  font-size: 80px;
  content: '+';
  display: block;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 21px;
  margin-bottom: 10.5px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10.5px;
}
.lead {
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small,
.small {
  font-size: 85%;
}
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #ffffff;
  background-color: #333333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
  box-shadow: none;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10.5px;
  font-size: 13px;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  white-space: pre-wrap;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
address {
  margin-bottom: 21px;
  font-style: normal;
  line-height: 1.5;
}
nav,
.mynav {
  height: 40px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}
nav li,
.mynav li {
  line-height: 38px;
  color: #3caee4;
  padding: 0 10px;
  float: left;
}
nav li:hover,
.mynav li:hover,
nav li.nav-cur,
.mynav li.nav-cur {
  background: #fcfcfc;
  color: #1d97d0;
  border-bottom: 3px solid #3caee4;
}
nav .logo,
.mynav .logo {
  padding: 10px 20px 0;
  float: left;
}
.mysech {
  margin: 8px;
  float: right;
  position: relative;
}
.mysech .sech-txt {
  border: 1px solid #eee;
  padding: 5px;
  outline: none;
  border-radius: 4px;
  transition: background 1s;
  color: #666;
  width: 160px;
  background: #fff;
}
.mysech .sech-txt:hover,
.mysech .sech-txt:focus {
  background: #f2f2f2;
}
.mysech .sech-txt ::-ms-clear {
  display: none;
}
.msidebar {
  background: #32323a;
  position: fixed;
  height: 100%;
  width: 15%;
  float: left;
}
.msidebar li {
  color: #95a0aa;
  border-bottom: 1px solid #3b3b43;
  padding: 15px;
  font-size: 16px;
  position: relative;
  transition: color .5s,background .5s;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.msidebar li:before {
  font-family: iconfont;
  content: "\e258";
  position: absolute;
  top: 16px;
  right: 16px;
}
.msidebar li:hover {
  background: #1fb5ad;
  color: #fff;
}
.msidebar .active {
  background: #1fb5ad;
  color: #fff;
}
.msidebar .active:before {
  content: "\e259";
}
.msidebar span {
  padding-right: 20px;
}
.sbtop {
  background: #28282e;
  color: #fff;
  padding: 10px;
}
.banner {
  background: url(../images/bg.gif);
  color: #222;
  text-shadow: 1px 1px 1px #7EDBDC;
}
.banner h1 {
  padding-top: 25px;
  font-size: 64px;
  margin-left: 15px;
}
.banner p {
  margin-left: 15px;
  text-indent: 0;
  width: 400px;
}
.bcon {
  height: 200px;
}
.atc {
  width: 75%;
  float: left;
}
@media (max-width: 991px) {
  .atc {
    width: 100%;
  }
}
.atc .con {
  border-right: 1px solid #ddd;
}
.cata {
  width: 25%;
  float: left;
}
@media (max-width: 991px) {
  .cata {
    display: none;
  }
}
.cata h3 {
  background: #eee;
  margin: 0 -15px;
  padding: 10px;
}
.cata h4 {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}
#cata {
  top: 0;
  left: 0;
}
.sbt {
  padding: 15px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
}
.showbox pre {
  border-radius: 0 0 4px 4px;
}
.rightcon {
  width: 85%;
  margin-left: 15%;
  float: left;
}
.pkg-showbox {
  padding: 10px;
}
.pkg {
  height: 100%;
  width: 50%;
  float: left;
}
.desc {
  width: 50%;
  float: left;
  background: #fff;
}
.form-jj {
  width: 360px;
  height: 250px;
  margin: 30px auto;
  background: #fefefe;
  border-radius: 4px;
  border: 1px solid #ccc;
  overflow: hidden;
  outline: 4px solid rgba(0, 0, 0, 0.1);
}
.form-jj .form {
  padding: 15px;
}
.form-jj .tit {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  margin: 0;
}
.jj-txt {
  display: block;
  width: 308px;
  padding: 10px;
  margin-top: 10px;
  outline: none;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 3px;
}
.jj-txt:focus {
  border: 1px solid #19b8df;
  box-shadow: 0 0 1px 3px rgba(25, 184, 223, 0.2);
}
.jj-btn {
  height: 30px;
  width: 80px;
  line-height: 30px;
  float: right;
  border-radius: 20px;
  outline: none;
  background-image: linear-gradient(#ffffff, #d7e9f3);
  color: #76888C;
  font-weight: 700;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px 3px rgba(25, 184, 223, 0.1);
}
.jj-btn:hover,
.jj-btn:focus {
  background-image: linear-gradient(#ffffff, #feffff);
}
.form-ss {
  width: 360px;
  height: 250px;
  margin: 30px auto;
  background: #3c3d41;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.form-ss .tit {
  color: #999;
  padding-top: 20px;
}
.ss-txt {
  background: none;
  border: none;
  outline: none;
  color: #aaa;
  width: 260px;
  padding-left: 10px;
}
.ss-user,
.ss-psw {
  background: #353439;
  color: #999;
  padding: 15px;
  margin: 15px 20px;
  border-radius: 4px;
  border-bottom: 1px solid #48494d;
  box-shadow: 0 0 2px  #000 inset;
  display: block;
}
.ss-btn {
  margin-left: 20px;
  border: none;
  height: 40px;
  width: 147px;
  background: #27b8b1;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000;
  background-image: linear-gradient(#6fe8e1, #089988);
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3) inset;
}
.ss-btn:focus {
  box-shadow: none;
}
.form-wl {
  width: 300px;
  height: 120px;
  background: url("../images/wl-h.jpg");
  margin: 100px auto;
  padding: 10px;
  border-radius: 4px;
}
.form-wl span {
  display: block;
  float: left;
  padding: 13px;
  background-color: #ccc;
  margin: -14px -10px;
}
.wl-txt {
  background: none;
  border: none;
  outline: none;
  padding-left: 20px;
  width: 190px;
}
.wl-user,
.wl-psw {
  background: #fff;
  color: #999;
  padding: 10px;
  margin: 15px 20px;
  border-radius: 4px;
  display: block;
  overflow: hidden;
}
.wl-psw .wl-txt {
  width: 176px;
}
.wl-btn {
  background-color: #7ccf41;
  color: #446f27;
  padding: 13px;
  margin: -14px -10px;
}
.form-tm {
  width: 250px;
  height: 300px;
  margin: 30px auto;
  border-radius: 10px;
  border: 1px solid #333;
  border-top: 1px solid #999;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 -3px 3px rgba(0, 0, 0, 0.3) inset;
}
.form-tm .tit {
  color: #ddd;
  border-bottom: 1px solid #111;
  padding: 10px;
}
.form-tm .form {
  border-top: 1px solid #999;
  margin-top: -10px;
  padding: 15px;
}
.form-tm label {
  display: block;
  padding: 10px;
  color: #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
  border-radius: 4px;
  border: 1px solid #333;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
}
.form-tm a {
  color: #ccc;
}
.tm-txt {
  width: 170px;
  margin-left: 10px;
  background: none;
  border: none;
  outline: none;
  color: #ccc;
}
.tm-txt:focus {
  color: #fff;
}
.tm-btn {
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #333;
  background: #669024;
  color: #fff;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.3) inset;
  background-image: linear-gradient(#74a429, #587c1f);
}
/*# sourceMappingURL=main.css.map */